<div class="hs_footer_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_logo_wrapper">
                    <!-- assets/images/content/footer_logo.png -->
                    <img src="assets/images/astrologo2.png" alt="footer_logo" class="img-responsive" />
                    <p>{{ 'footertext.footertext1' | translate }}</p>
                    <!-- <h4><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h4> -->
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/groups/2717924665158914/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/onlinefreeastro/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-youtube-play"></i></a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_help_wrapper">
                    <h2>Need <span>Our Help</span></h2>
                    <p>{{ 'footertext.footertext2' | translate }}</p>
                    <div class="hs_footer_help_btn">
                        <ul>
                            <li><a class="hs_btn_hover" (click)="openqueForm()">Ask Now</a></li>
                        </ul>
                    </div>
                    <h2 class="askfree_text4">It's Free</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_contact_wrapper">
                    <h2>Contact <span>Us Today</span></h2>
                    <p>
                        {{ 'footertext.footertext3' | translate }} <a href="mailto:support@onlineastro.in" class="support_anchore">{{ 'footertext.emailid' | translate }}</a>
                     <!-- or <a href="https://wa.me/8982546428" target="_blank" class="support_anchore">click here to start whatsApp Chat.</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hs_bottom_footer_main_wrapper">
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="footer_bottom_cont_wrapper copyright1">
                    <p>© Copyright 2020 by onlineastro.in. All right Reserved</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="footer_bottom_cont_wrapper copyright2">
                   <a  [routerLink]="['/privacy']"><p>Privacy policy</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
