<div class="support_body">

    <!-- <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Our Support</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Our Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="hs_about_indx_main_wrapper hs_about_indx_inner_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="">
                        <p>Have any technical issues or want any questions? We’re available 24x7 to help you. 
                            Write your queries to us on <a href="" class="support_anchore">ask@falana.com</a> or <a href="" class="support_anchore">click here to start whatsApp Chat.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="hs_online_main_slider_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="about_ustext">{{ 'Oursupport.supportmainheading' | translate }}</h6>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_online_slider_left_cont">
                        <h2><span>{{ 'Oursupport.supportheading' | translate }}</span></h2>
                        <p>{{ 'Oursupport.supporttext1' | translate }}</p>
                        <p> {{ 'Oursupport.supporttext2' | translate }}<a href="mailto:support@onlineastro.in" class="support_anchore">{{ 'Oursupport.supportmail' | translate }}</a> 
                            <!-- or <a href="https://wa.me/8982546428" target="_blank" class="support_anchore">click here to start whatsApp Chat.</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- hs about progress wrapper Start -->
      <div class="hs_about_progress_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_progress_img_left">
                        <h2>Our Horoscope Progress</h2>
                        <h4><span></span></h4>
                        <img src="assets/images/content/about/pgress_img.jpg" class="img-responsive" alt="prog_img" />
                    </div>
                    <div class="about_btn_new">
                        <div class="hs_footer_help_btn about_btn">
                            <ul>
                                <li><a class="hs_btn_hover" (click)="openqueForm()">Ask Now</a></li>
                            </ul>
                        </div>
                        <h2 class="askfree_text3">It's Free</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_progress_cont_left">
                        <h2>Questions (faq’s)</h2>
                        <h4><span></span></h4>
                        <div class="accordionFifteen" >
                            <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                <div class="panel panel-default truck_pannel"  >
                                    <div class="panel-heading desktop">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFifteenLeft"
                                                href="#collapseFifteenLeftone" aria-expanded="true">{{ 'Faqquestionfirst.quetitle' | translate }} </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftone" class="panel-collapse collapse in"
                                        aria-expanded="true" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">{{ 'Faqquestionfirst.quepara1' | translate }} 
                                                </p>
                                                <p class="faq_detail">{{ 'Faqquestionfirst.quepara2' | translate }}  </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel"  >
                                    <div class="panel-heading horn">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo"
                                                aria-expanded="false">{{ 'Faqquestionsecond.quetitle' | translate }}</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftTwo" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">{{ 'Faqquestionsecond.quepara1' | translate }}
                                                </p>
                                                <p class="faq_detail">{{ 'Faqquestionsecond.quepara2' | translate }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree"
                                                aria-expanded="false">{{ 'Faqquestionthird.quetitle' | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftThree" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">{{ 'Faqquestionthird.quepara1' | translate }} </p>
                                                <p class="faq_detail">{{ 'Faqquestionthird.quepara2' | translate }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFour"
                                                aria-expanded="false">{{ 'Faqquestionfourth.quetitle' | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftFour" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>{{ 'Faqquestionfourth.quepara1' | translate }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- /.panel-default -->
                                 <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFive"
                                                aria-expanded="false">{{ 'Faqquestionfifth.quetitle' | translate }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftFive" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>{{ 'Faqquestionfifth.quepara1' | translate }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of /.panel-group-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
