<div class="support_body">

    <!-- <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Our Support</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Our Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="hs_about_indx_main_wrapper hs_about_indx_inner_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="">
                        <p>Have any technical issues or want any questions? We’re available 24x7 to help you. 
                            Write your queries to us on <a href="" class="support_anchore">ask@falana.com</a> or <a href="" class="support_anchore">click here to start whatsApp Chat.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="hs_online_main_slider_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="about_ustext">Our Support</h6>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_online_slider_left_cont">
                        <h2>speak to <span>our expert !</span></h2>
                        <p>We have the team of authentic and experienced professional Astrologers. Our mission is provide the online accurate future predictions to you by analysing your birth chart and your astrology sign.</p>
                        <p>Have any technical issues or want any questions? We’re available 24x7 to help you. 
                            Write your queries to us on <a href="mailto:support@onlineastro.in" class="support_anchore">support@onlineastro.in</a> 
                            <!-- or <a href="https://wa.me/8982546428" target="_blank" class="support_anchore">click here to start whatsApp Chat.</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- hs about progress wrapper Start -->
      <div class="hs_about_progress_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_progress_img_left">
                        <h2>Our Horoscope Progress</h2>
                        <h4><span></span></h4>
                        <img src="assets/images/content/about/pgress_img.jpg" class="img-responsive" alt="prog_img" />
                    </div>
                    <div class="about_btn_new">
                        <div class="hs_footer_help_btn about_btn">
                            <ul>
                                <li><a class="hs_btn_hover" (click)="openqueForm()">Ask Now</a></li>
                            </ul>
                        </div>
                        <h2 class="askfree_text3">It's Free</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_progress_cont_left">
                        <h2>Questions (faq’s)</h2>
                        <h4><span></span></h4>
                        <div class="accordionFifteen">
                            <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading desktop">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFifteenLeft"
                                                href="#collapseFifteenLeftone" aria-expanded="true"> How it Works?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftone" class="panel-collapse collapse in"
                                        aria-expanded="true" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">When you submit your Birth details along with your question to us, our support team will call you to confirm your details, and the kundali will be provided to one from our expert astrologer’s team.  Astrologers will start analyzing and researching your kundali and will create a detailed prediction and solutions based on both Vedic and Lal kitab astrology. This prediction and solution will be sent to you on your provided email id and whatsApp number. 
                                                </p>
                                                <p class="faq_detail">Once you go through to your prediction, you can request a callback to understand it with our experts. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading horn">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo"
                                                aria-expanded="false">Why does it take 24 to 48 hours for a prediction result?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftTwo" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">Our mission is to provide you detailed and accurate prediction and 100% working solutions to your problems and solve them forever. For such, our expert takes time to analyze each kundali personally to get at the root of the problem. Then we share easy-to-perform remedies and solutions based on your kundali and planetary positions, so that anyone can do the solutions easily and can get satisfied with our service.  
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree"
                                                aria-expanded="false">How will I receive my Predictions?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftThree" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p class="faq_detail">You’ll receive your prediction on your provided email id and whatsApp number within 48 hours of detail and payment submission. </p>
                                                <p class="faq_detail">One you go through your prediction, you can request a callback to our expert to understand it clearly. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFour"
                                                aria-expanded="false">Is this service free?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftFour" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>yes, This service is absolutely free.
                                                </p>
                                                <!-- <p>No, This service is not free but as compared to other popular online astrology services, we are taking nominal and easily-affordable charges that allow us to maintain our services to help others.
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- /.panel-default -->
                                 <div class="panel panel-default truck_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFive"
                                                aria-expanded="false">Do you sell gems, lockets, Yantras etc..?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteenLeftFive" class="panel-collapse collapse"
                                        aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Currently, We are more focused on providing detailed-oriented and accurate prediction with solutions  problems of your life. We’re not selling astrology related items like gems, yantras etc, but based on your problem, we can recommend you the best things that you can buy from anywhere to get rid of your life problems. 

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of /.panel-group-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
