<div class="about_body">

    <!-- <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- hs About Title End -->
    <!-- hs about ind wrapper Start -->
    <div class="hs_about_indx_main_wrapper hs_about_indx_inner_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="about_ustext">{{ 'Aboutus.aboutusheading' | translate }} </h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_left_img_wrapper">
                        <img src="assets/images/content/about_img.jpg" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_right_cont_wrapper">
                        <!-- <h2>HoroScope Revels The Will Of God</h2> -->
                        <p class="about_text">{{ 'Aboutus.abouttagone' | translate }}  
                        </p>
                            <p class="about_text">{{ 'Aboutus.abouttagtwo' | translate }} </p>
                            <p class="about_text">{{ 'Aboutus.abouttagthree' | translate }} </p>
                    </div>
                    <div class="about_btn_new">
                    <div class="hs_footer_help_btn about_btn">
                        <ul>
                            <li><a class="hs_btn_hover" (click)="openqueForm()">Ask Now</a></li>
                        </ul>
                    </div>
                    <h2 class="askfree_text2">It's Free</h2>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs about ind wrapper End -->
</div>