<div class="hs_sign_main_wrapper">
    <div class="container">
        <div class="hs_sign_heading_wrapper">
            <div class="hs_about_heading_main_wrapper">
                <div class="hs_about_heading_wrapper">
                    <h2>{{ 'horoscopeIdea.horoscopeTag' | translate }}  <span>{{ 'horoscopeIdea.horoscopeTag1' | translate }} </span></h2>
                    <h4><span></span></h4>
                    <p>{{ 'horoscopeIdea.horoscopeinner' | translate }}  
                    </p>
                </div>
            </div>
        </div>
        <div class="hs_sign_center_wrapper visible-xs visible-sm">
            <div class="hs_cycle_main_wrapper">
                <div class="hs_cycle_img">
                    <img src="assets/images/content/cycle.jpg" alt="circle_img">
                    <span class="pulse"></span>
                    <div class="hs_tab_shap1">
                        <a  (click)="openhoroscopeModal(dailyhoroscope,'Taurus')">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-taurus-astrological-sign-symbol"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap2">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Aries')">
                            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-aries-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap3">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Libra')">
                            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-libra"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap4">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Scorpio')">
                            <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-scorpio"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap5">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Leo')">
                            <svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-leo"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap6">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Capricorn')">
                            <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-capricorn"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap7">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Aquarius')">
                            <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-aquarius-zodiac-sign-symbol"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap8">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Gemini')">
                            <svg version="1.1" id="Layer_8" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-gemini-zodiac-sign-symbol"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap9">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Virgo')">
                            <svg version="1.1" id="Layer_9" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-virgo-astrological-symbol-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap10">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Leo')">
                            <svg version="1.1" id="Layer_10" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-leo"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap11">
                        <a  (click)="openhoroscopeModal(dailyhoroscope,'Cancer')">
                            <svg version="1.1" id="Layer_11" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-cancer"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap12">
                        <a (click)="openhoroscopeModal(dailyhoroscope,'Gemini')">
                            <svg version="1.1" id="Layer_12" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-gemini-zodiac-sign-symbol"></i></p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- horoscope part 1 -->
        <div class="hs_sign_left_wrapper">
            <div class="row"   >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hs_horo_1"   *ngFor="let service of ('horoscopeTag1.data' | translate)" >
                    <!-- (click)="openhoroscopeModal(dailyhoroscope,service.title)" -->
                    <div (click)="openhoroscopeModal(dailyhoroscope,service.id,service.title)"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_border_wrapper1 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="{{service.imgiconsign}}"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>{{service.title}}</li>
                               
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Taurus')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper2 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-taurus-astrological-sign-symbol"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Taurus</li>
                               
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div> -->
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Gemini')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper3 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-gemini-zodiac-sign-symbol"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Gemini</li>
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Cancer')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper4 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-cancer"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Cancer</li>
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Leo')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper5 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-leo"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Leo</li>
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Virgo')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper6 select_horoscope">
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-virgo-astrological-symbol-sign"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Virgo</li>
                            </ul>
                        </div>
                        <span></span>
                    </div>
                </div> -->
            </div>
        </div>
         <!-- horoscope part 2 -->
        <div class="hs_sign_right_wrapper visible-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hs_horo_1" *ngFor="let service of ('horoscopeTag2.data' | translate)">
                    <div (click)="openhoroscopeModal(dailyhoroscope,service.id,service.title)"
                        class="hs_sign_left_tabs_wrapper hs_sign_right_tabs_border_wrapper1 select_horoscope">
                        <span></span>

                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="{{service.imgiconsign}}"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>{{service.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Scorpio')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper2 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-scorpio"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Scorpio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Sagittarius')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper3 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-leo"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Sagittarius
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Capricorn')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper4 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-capricorn"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>
                                    Capricorn
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Aquarius')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper5 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-aquarius-zodiac-sign-symbol"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>
                                    Aquarius
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Pisces')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper6 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-pisces-astrological-sign"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Pisces
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="hs_sign_center_wrapper hidden-sm hidden-xs">
            <div class="hs_cycle_main_wrapper">
                <div class="hs_cycle_img">
                    <img src="assets/images/content/cycle.jpg" alt="circle_img">
                    <span class="pulse"></span>
                    <div class="hs_tab_shap1">
                        <a href="#">
                            <svg version="1.1" id="Layer_13" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-taurus-astrological-sign-symbol"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap2">
                        <a href="#">
                            <svg version="1.1" id="Layer_14" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-aries-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap3">
                        <a href="#">
                            <svg version="1.1" id="Layer_15" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-libra"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap4">
                        <a href="#">
                            <svg version="1.1" id="Layer_16" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-scorpio"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap5">
                        <a href="#">
                            <svg version="1.1" id="Layer_17" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-sagittarius-arrow-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap6">
                        <a href="#">
                            <svg version="1.1" id="Layer_18" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-capricorn"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap7">
                        <a href="#">
                            <svg version="1.1" id="Layer_19" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-aquarius-zodiac-sign-symbol"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap8">
                        <a href="#">
                            <svg version="1.1" id="Layer_20" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-pisces-astrological-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap9">
                        <a href="#">
                            <svg version="1.1" id="Layer_21" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-virgo-astrological-symbol-sign"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap10">
                        <a href="#">
                            <svg version="1.1" id="Layer_22" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-leo"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap11">
                        <a href="#">
                            <svg version="1.1" id="Layer_23" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-cancer"></i></p>
                        </a>
                    </div>
                    <div class="hs_tab_shap12">
                        <a href="#">
                            <svg version="1.1" id="Layer_24" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="68.811px"
                                height="64.729px" viewBox="0 0 68.811 64.729"
                                enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
                        c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                            </svg>
                            <p><i class="flaticon-gemini-zodiac-sign-symbol"></i></p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
           <!-- horoscope part 2 for mobile -->
        <div class="hs_sign_right_wrapper hidden-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hs_horo_1"  *ngFor="let service of ('horoscopeTag2.data' | translate)">
                    <div (click)="openhoroscopeModal(dailyhoroscope,service.id,service.title)"
                        class="hs_sign_left_tabs_wrapper hs_sign_right_tabs_border_wrapper1 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper right_horo_text">
                            <ul>
                                <li>{{service.title}}</li>
                               
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="{{service.imgiconsign}}"></i>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Scorpio')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper2 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Scorpio</li>
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-scorpio"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Sagittarius')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper3 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Sagittarius</li>
                               
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-sagittarius-arrow-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Capricorn')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper4 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Capricorn</li>
                               
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-capricorn"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Aquarius')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper5 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Aquarius</li>
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-aquarius-zodiac-sign-symbol"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div (click)="openhoroscopeModal(dailyhoroscope,'Pisces')"
                        class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper6 select_horoscope">
                        <span></span>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li>Pisces</li>
                            </ul>
                        </div>
                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-pisces-astrological-sign"></i>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div> 


<ng-template #dailyhoroscope>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{horoscopeName}} 
            </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span *ngIf="horoscopeExist">
            <!-- <h3 class="horoscope_text">Favourable Color : {{horoscopeRes?.color}}</h3>
            <h3 class="horoscope_text">Compatibility : {{horoscopeRes?.compatibility}}</h3>
            <h3 class="horoscope_text">Lucky Number : {{horoscopeRes?.lucky_number}}</h3> -->
            <h3 class="horoscope_text">Description : {{allhoroscope}}</h3>
        </span>
        <div *ngIf="!horoscopeExist" class="loader_body text-center">
            <div class="loader"></div>
        </div>
    </div>
</ng-template>